body{
    margin:0;
}
.slick-track{
    height:800px;
    width:100%;
}
.slick-prev {
    left: 25px;
    z-index: 1;
}
.slick-next {
    right: 35px;
    z-index: 1;
}

.slick-prev:before {
    content: "<";
    font-size: 40px;
    display: inline-block;
    transform: scale(1,2.5);
    padding-bottom: 30px;
    color: #DCDEE0;
}

.slick-next:before {
    content: ">";
    font-size: 40px;
    display: inline-block;
    transform: scale(1,2.5);
    padding-bottom: 30px;
    color: #DCDEE0;
}
.slick-prev, .slick-next {
    font-size: 20px;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.pic-slider{
    margin-top:70px;
}
.container-fluid{
    padding:0;
}